header{
	color:#000080;
	background-color: #cc9900;
	display: block;
	padding: 6px;
	border-radius: 4px;
	margin-bottom: 3px;
	font-size: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: bold;
	text-decoration: underline;
	border: black 2px solid;
	border-radius: 3px;
}

div{
	color:green;
	background-color: #b3e6ff;
	margin-bottom: 3px;
	border-radius: 3px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	border: #000080 1px solid;
	border-radius: 3px;
}

input{
	color:#336699;
	background-color: #00cc66;
	display: inline-block;
	font-size: 18px;
	font-family: "Lucida Console", Monaco, monospace;
	border: black 1px solid;
	border-radius: 3px;
}

body{
	background-color: #ffffe6;
}

#checkbox{
	background-color: #ccffcc;
	border: black 1px solid;
	border-radius: 3px;
}

p{
	/*background-color: black;/*#000080;*
	color: black;*/
	margin-bottom: 0px;
	margin-top: 1px;
	border: #000080 .5px dashed;
	border-radius: 3px;
	padding: 0px;
}